{% extends 'base.html' %}
<body>
    {% block body %}
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a">Grid Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'estates:home'%}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          {% for estate in estates %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{estate.image.url}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'estates:estate_detail' estate.slug %}">204 Mount
                        <br /> {{estate.tittle}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{estate.state}} | $ {{estate.price}}</span>
                    </div>
                    <a href="{% url 'estates:estate_detail' estate.slug%}" class="link-a">Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{estate.area}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>{{estate.bed}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{estate.bath}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>{{estate.garag}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
        {% if estates.has_other_pages %}
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
              {% if estates.has_previous %}
                <li class="page-item disabled">
                  <a class="page-link" href="?page={{estates.previous_page_number}}" >
                    <span class="ion-ios-arrow-back"></span>
                  </a>
                </li>
                {% endif %}
                {% for i in estates.paginator.page_range %}
                <li class="page-item">
                  <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {% endfor %}
                {% if estates.has_next %}
                <li class="page-item next">
                  <a class="page-link" href="?page={{estates.next_page_number}}">
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        {% endif %}
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
{% endblock body %}

</body>

</html>